
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ddd;
  color: #555;
  cursor: pointer;
  padding: 18px;
  max-width: 100%;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #aaa;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  max-width: 100%;
  width: 85%;
  text-align: center;
  /* float: center; */
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

label {
    white-space:nowrap;
}

.wrappable {
    white-space:nowrap;
}

.showVector {
   position:absolute;
   z-index:1000;
   background-color: rgba(255,0,0,0.8);
   right:10px;
   width:50px;
   height:50px;
   /* position: absolute; */
   /* background-color: rgba(0,0,0,0.8); */
   /* left: 20px; */
   /* top:  20px; */
   /* min-width:70px; */
   /* min-height:22px; */
   /* width: 10%; */
   /* height:5%; */
   /* z-index: 10; */
   /* font-size: 125%; */
   /* text-align: center; */
   /* vertical-align: middle; */
   /* color: white; */
   /* border: none; */
}

.showVector:hover .showme {
   display: block;
   width:250px;
   background-color: rgba(0,0,0,0.75);
   font-size:70%;
}

.showVector:hover {
   background-color: rgba(0,255,0,0.75);
   max-width:80%;
   font-size:200%;
   width:auto;
   height:auto;
   color: rgb(220,220,220);
}

.showme {
   /* border:2px solid blue; */    /*For debugging XD  */
   position: fixed;
   display: none;
   width:0;
   height:100%;
   /* width: 100%; */
   /* font-size:100%; */
   /* min-width: 100px; */
   /* height: 100%; */
   /* padding-right: 30px; */
   /* padding-bottom: 20px; */
   /* padding: 5px; */
   /* background-color: rgba(0,0,0,0.75); */
}
