/* Variables */
:root{
   --side-bar-width: 300px;
   --primaryColor: #194054;
   --textColor: #e0e0e0;
   --sideBarColor: #042534f2;
   --button-inactiveHover: #1d6bda;
   --button-activeHover: #0053c9;
}

/* Native classes */
body {
   /* border:2px black solid; */
   text-align:center;
   background-color: var(--primaryColor);
   color: var(--textColor);
   /* background-color:black; */
   /* color:white; */
}

a, a:active, a:focus {
   outline: none;
}

a:hover{
   font-weight: bold;
   color: white;
}

a:visited{
   font-weight: bold;
   color: white;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

form {
   font-size:120%;
}

div {
   /* border:1px solid red; */ 
   border: none !important;
   margin: auto;
   text-align: center;
   vertical-align: middle;
}

img {
   max-width:100%;
   height:auto;
}

.header {
   /* background-color:white; */
   width: 100%;
   height: auto;
   text-align: center;
}

.full_content{
   /* background-color:white; */
}

.day_time{
   color: white;
   line-height:50px;
   padding:10px;
}

.plot{
   /* height:500px; */
}

.sidebar{
   background-color: var(--sideBarColor);
   font-size:120%;
   border:1px blue solid;
   position: fixed;
   height: 100%;
   width: 0px;
   display:none;
   z-index: 1;
   top: 0;
   right: 0;
   line-height: 200%;
   overflow-x: hidden;
   padding-top: 60px;
}

#options_button{
   position:fixed;
   background-color: var(--sideBarColor);
   /* background-color: rgba(55,55,55,0.9); */
   top:50%;
   right:10px;
   width: 35px;
   height: 80px;
   line-height:69px;   /*has to be the same as height*/
   /*there's something I'm not getting. this has to be repeated*/
   border-top-left-radius:10px;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;

}

.Maps {
   /*border:1px solid black;*/
   position: relative;
   width: 100%;
   padding: 0px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.base_map {
   position: static;
   padding: 0px;
   left: 0px;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: -1;
   opacity:1;
}

.over {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.Sover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   mix-blend-mode: overlay;
   z-index: 1;
}

.Vover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.Oover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.COover {
   position: absolute;
   /* left: 50%; */
   left:0px;
   top: 0px;
   background:rgba(0,0,0,0.7);
   padding-top:5px;
   padding-left:7px;
   padding-right:7px;
   width: 60%;
   border-radius: 5px;
   height:auto;
   /* transform: translateX(-50%); */
   opacity:1;
   z-index: 1;
}

.day_and_time {
   position: static;
   height: 100%;
}

.button_inactive {
   background-color: #3060a4;
   color: var(--textColor);
   font-size:120%;
   padding: 7px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.button_active {
   background-color: #10448e;
   color: white;
   font-size:140%;
   font-weight: bold;
   box-shadow: 3px 5px 3px black;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.plot_title {font-size:175%;}


.vl {border-left: 2px dashed LightGrey;
     height: 200px;}
