/* Native classes */
a, a:active, a:focus {
   outline: none;
}

div {
   /*border:1px solid red;*/    /*For debugging XD  */
   border: none !important;
   margin: auto;
   text-align: center;
   vertical-align: middle;
}

img {
   max-width:100%;
   height:auto;
}

.header {
   width: 100%;
   height: auto;
   text-align: center;
}

.full_site_content {
   width: 100%;
   height: auto;
   text-align: center;
}

.days {
   /* min-width: 325px; */
   font-size: 110%;
   padding-bottom:5px;
   text-align: center;
}

.hours {
   font-size:110%;
   padding-bottom:5px;
   text-align: center;
}

.footer {
   width: 100%;
   height: auto;
   text-align: center;
}

/* User defined */
.Maps {
   /*border:1px solid black;*/
   position: relative;
   min-width:600px;  /* To avoid problem with options menu*/
   width: 100%;
   padding: 0px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

@media only screen and (max-width: 600px) {
   .Maps {
      border:3px solid blue;
      position: relative;
      min-width:600px;  /* To avoid problem with options menu*/
      width: 100%;
      padding: 0px;
      top: 0px;
      left: 0px;
      transform: translateX(0%);
      text-align: center;
   }
}

.under {
   padding: 0px;
   left: 0px;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: -1;
   position: relative;
   opacity:1;
}
.over {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}
.Sover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: 1;
   transform: translateX(-50%);
   mix-blend-mode: overlay;
   opacity:0.8;
}
.Vover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: 1;
   transform: translateX(-50%);
   opacity:0.7;
}
.Oover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: 1;
   transform: translateX(-50%);
   opacity:1;
   visibility: hidden;
}

.day_and_time {
   position: static;
   height: 100%;
}
.button_inactive {
   background-color: rgba(65,165,234,0.7);
   font-size:100%;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}
.button_active {
   background-color: rgba(65,165,234,1);
   font-size:100%;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.plot_title {font-size:175%;}


.vl {border-left: 2px dashed LightGrey;
     height: 200px;}
