/* Variables */
:root{
   --side-bar-width: 300px;
}
/* Native classes */
body {
   /* border:2px black solid; */
   text-align:center;
   /* background-color:black; */
   /* color:white; */
}

a, a:active, a:focus {
   outline: none;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

form {
   font-size:120%;
}

div {
   /* border:1px solid red; */ 
   border: none !important;
   margin: auto;
   text-align: center;
   vertical-align: middle;
}

img {
   max-width:100%;
   height:auto;
}

.header {
   /* background-color:white; */
   width: 100%;
   height: auto;
   text-align: center;
}

.full_content{
   /* background-color:white; */
}

.day_time{
   line-height:50px;
   padding:10px;
}

.plot{
   /* height:500px; */
}

.sidebar{
   font-size:120%;
   border:1px blue solid;
   position: fixed;
   height: 100%;
   width: 0px;
   display:none;
   color:white;
   z-index: 1;
   top: 0;
   right: 0;
   line-height: 200%;
   overflow-x: hidden;
   padding-top: 60px;
}

#options_button{
   position:fixed;
   background-color: rgba(55,55,55,0.8);
   top:50%;
   right:10px;
   width: 50px;
   height: 100px;
   line-height:90px;   /*has to be the same as height*/
   /*there's something I'm not getting. this has to be repeated*/
   border-top-left-radius:10px;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;

}

.Maps {
   /*border:1px solid black;*/
   position: relative;
   width: 100%;
   padding: 0px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.base_map {
   position: static;
   padding: 0px;
   left: 0px;
   top: 0px;
   width: 100%;
   height:auto;
   z-index: -1;
   opacity:1;
}

.over {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.Sover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   mix-blend-mode: overlay;
   z-index: 1;
}

.Vover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.Oover {
   position: absolute;
   left: 50%;
   top: 0px;
   width: 100%;
   height:auto;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}

.COover {
   position: absolute;
   /* left: 50%; */
   left:0px;
   top: 0px;
   background:rgba(255,255,255,0.7);
   width: 60%;
   height:auto;
   /* transform: translateX(-50%); */
   opacity:1;
   z-index: 1;
}

.day_and_time {
   position: static;
   height: 100%;
}
.button_inactive {
   background-color: rgba(65,165,234,0.7);
   font-size:120%;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}
.button_active {
   background-color: rgba(65,165,234,1);
   font-size:150%;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.plot_title {font-size:175%;}


.vl {border-left: 2px dashed LightGrey;
     height: 200px;}
